<article>
    <header>
        <h5 style="margin: 0;">Карта</h5>
        <a href="/create-map">
            <button class="secondary">Пересоздать карту</button>
        </a>
    </header>
    <main>
        <div class="map" id="map">
            {% for device in devices %}
            <div class="device-on-map" style="left:{{ device.coord_x }}px;top:{{ device.coord_y }}px"
                data-device-id="{{ device.id }}">
                <i class="fa-solid fa-{{ device.role_icon }}"></i>
                <sub>#{{ device.id }}</sub>
                <div class="device-short-settings" style="display: none;">
                    <span class="line">
                        <i class="fa-solid fa-{{ device.role_icon }}"></i>
                        <kbd>{{ device.name }}</kbd>
                        <i class="fa-solid fa-xmark close-short-settings" style="color:red"></i>
                    </span>
                    <span class="line"><kbd class="status-{{ device.id }} device-error">Не работает</kbd></span>
                    <span class="line">Освещенность: <b id="lightness-{{ device.id }}">0</b></span>
                    <span class="line">
                        LED: <input type="range" min="0" max="100" value="50" class="set-led-range"
                            id="led-range-{{ device.id }}" data-device-id="{{ device.id }}" style="margin: 0;">
                    </span>
                    <span class="line"><button class="toggle-relay" style="font-size:.875em;padding:5px"
                            data-device-id="{{ device.id }}">Переключить реле</button></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer>
        {% include "subfields/devices.html" %}
        {% include "subfields/events.html" %}
    </footer>
</article>
<script src="/static/js/map.js"></script>
<script src="/static/js/draggable.js"></script>