<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart IO</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/pico.amber.min.css">
    <link rel="stylesheet" href="/static/css/override.pico.css">
    <link rel="icon" href="/static/img/favicon.png">
</head>
<body>
    <header>
        <div class="logo">
            <!-- left side -->
            <img src="/static/img/favicon.png" style="width: 4em;">
            <h4 style="margin: 0;">Smart IO</h4>
        </div>
        <div class="nav-buttons">
            <!-- right side -->
            <div>
                <label>
                    Автоматическое обновление
                    <input type="checkbox" name="auto-update" id="auto-update" checked>
                </label>
            </div>
            <div>
                <a href="/add-device">
                    <button class="outline">Добавить устройство</button>
                </a>
            </div>
        </div>
    </header>
    <main>